<section id="benefits" class="benefits bg-primary text-center">
        <div class="container">
            <div class="row">
               <h3>HOW YOU EARN</h3>
              <div class="col-md-8 col-md-offset-2">
               <p>Purchase a yearly membership. 50% goes into special forex trading account that generates a monthly returns for us. We'll share 50% of our profit that goes into your wallet as shopping credit that enable you to cover upto 100% of your total order</p>
               </div>
               <div class="row"></div>
               <div class="col-md-4">
                   <div class="brdr">
                   <img width="50" src="{{site.baseurl}}/img/rolling-on-the-floor-laughing-svgrepo-com.svg" alt="Funny Memes">
                    <h3>Funny Memes</h3>
                   </div>

               </div>


               <div class="col-md-4">
                  <div class="brdr">
                   <img width="70" src="{{site.baseurl}}/img/video-player-svgrepo-com.svg" alt="Viral Clips">

                <h3>Viral Clips</h3>
                </div>
               </div>


               <div class="col-md-4">
                 <div class="brdr">
                  <img width="50" src="{{site.baseurl}}/img/chat-svgrepo-com.svg" alt="Motivation Quotes">
                   <h3>Motivation Quotes</h3>
                   </div>
               </div>



            <div class="row mt50">

               <div class="col-md-6">
                  <div class="brdr">
                   <img width="50" src="{{site.baseurl}}/img/love-care-svgrepo-com.svg" alt="Relationship Advice">
                   <h3>Relationship Advice</h3>
                   </div>
               </div>
                    
                    
                     
               <div class="col-md-6">
                 <div class="brdr">
                 <img width="50" src="{{site.baseurl}}/img/news-svgrepo-com.svg" alt="Breaking News">
                   <h3>Breaking News</h3>
                   </div>
               </div>

            </div>


        </div>
    </section>
