<header> 
<!-- 	 -->
<div class="container">
            <div class="row land">
                <div class="home">
                <div class="col-md-6 home-txt">
                   <div class="home-right">
                                 
                               <div class="home-exp">
			   <p style=""><strong>Join The Biggest Deals Site On WhatsApp</strong></p>
                                
				       <h2><strong>Pree Our <i class="fa-brands fa-whatsapp"></i> Status Daily</strong></h2>
				       
				      <h3>Discover Deals In Various Categories From Overseas Retailers That Offer Up To 60% Discount Of The Suggested Retail Price and Pay Us Commission On Your Purchase</h3>
					
				      <h4>Pre-Order By Accept Retailer Discount Offer Or Upgrade Your Membership And We'll Pass On 80% Of Our Commission, For You To Get The Highest Discount</h4>     
		        
				      <br>
                                           <H4>Have A Referral Code? </4>
                              <a href="/jm/join" class="page-scroll"><button class="btn btn-outline btn-xl" id="#signup">No</button></a>    <a href="/jm/join-r" class="page-scroll"><button class="btn btn-outline btn-xl" id="#signup">Yes</button></a>
                               
                            <br> <br>
				       <small class="block"><b>HOW YOU EARN:</b> Purchase A yearly membership and We put 50% into special forex trading account that generates a monthly returns that goes into your wallet as credit that enable you to cover upto 100% of your total order</small>  
                                  
				      <!-- <small class="block"><b>NOTE:</b> If You Purchase A  You Can Enjoy Members Only Prices + Unlimited FREE Delivery On All Purchases Within That Year</small> 
				       
				      <a href="/" class="page-scroll"><button class="btn btn-outline btn-xl" id="#signup"><i class="fa-solid fa-computer-mouse"></i> Click Here </button></a>  -->
				            
                               </div>
                        </div>
                            </div>              
                            
                <div class="col-md-6">
                        <div class="home-left">
                     <div class="image-cont2"></div>
                    </div>
                </div>
            </div>
          </div>
                </div>
            </div>
         </div>
            </div>
</header>
