<header> 
<!-- 	 -->
<div class="container">
            <div class="row land">
                <div class="home">
                <div class="col-md-6 home-txt">
                   <div class="home-right">
                                 
                               <div class="home-exp">
			  <p style="">Jamaican's Daily Deals</p>
				       <h3><strong>Get UpTo 80% Discounts</strong></h3>
				   
				      <h3>Deals Are Handpicked From 80+ Overseas Retailers Daily By Our Expert Deal-Editors and Displayed On Our WhatsApp Status.</h3>
				     
				       <h4>When You Ready To Make A Purchase, Cash Upfront Or Use Our Buy Now Pay Later Option And Spread Out Payments In 7 Installments Over 12 Weeks And Never Incurring Any Interest</h4>
					
				      
				      <br>
                                           <H4>Have A Referral Code? </4>
                              <a href="/jm/join" class="page-scroll"><button class="btn btn-outline btn-xl" id="#signup"><i class="fa-solid fa-computer-mouse"></i> No</button></a>    <a href="/jm/join-r" class="page-scroll"><button class="btn btn-outline btn-xl" id="#signup"><i class="fa-solid fa-computer-mouse"></i> Yes</button></a>
                               
                            <br> <br>
				  <!-- <small class="block"><b>MEMBERS BONUS:</b> Use Our Buy Now Pay Later option and spread out payments in 7 installments over 12 weeks and never incurring any interest.</small> 
                                   Earn Shopping Credit That Enable You To Get Products For FREE -->
				   
                               </div>
                        </div>
                            </div>              
                            
                <div class="col-md-6">
                        <div class="home-left">
                     <div class="image-cont2"></div>
                    </div>
                </div>
            </div>
          </div>
                </div>
            </div>
         </div>
            </div>
</header>
