<header> 
<!-- 	 -->
<div class="container">
            <div class="row land">
                <div class="home">
                <div class="col-md-6 home-txt">
                   <div class="home-right">
                                 
                               <div class="home-exp">
			   <p style=""><strong>Join The Biggest Deals Site On WhatsApp</strong></p>
                                
				       <h2><strong>Pree Our <i class="fa-brands fa-whatsapp"></i> Status Daily</strong></h2>
				       
				      <h3>Discover Greatly Discounted Deals From Overseas and Local Suppliers That Pay Us Commission On Your Purchase</h3>
					
				      <h4>Upgrade Your Free Membership And We'll Pass On A Portion Of Our Commission To Create Even More Discounts + Earn Shopping Credit That Enable You To Get Products For FREE</h4>     
		        
				      <br>
                                           <H4>Have A Referral Code? </4>
                              <a href="/jm/join" class="page-scroll"><button class="btn btn-outline btn-xl" id="#signup"><i class="fa-solid fa-computer-mouse"></i> No</button></a>    <a href="/jm/join-r" class="page-scroll"><button class="btn btn-outline btn-xl" id="#signup"><i class="fa-solid fa-computer-mouse"></i> Yes</button></a>
                               
                            <br> <br>
				    <small class="block"><b>Note:</b> Create your free account on the next page</small> 
                                  
				   
                               </div>
                        </div>
                            </div>              
                            
                <div class="col-md-6">
                        <div class="home-left">
                     <div class="image-cont2"></div>
                    </div>
                </div>
            </div>
          </div>
                </div>
            </div>
         </div>
            </div>
</header>
